<?xml version="1.0" encoding="utf-8"?>
<config>
	<triggers>
		<trigger>
			<location>
				<latitude>30.1000</latitude>
				<longitude>120.1000</longitude>
			</location>
			<filename>beep.mp3</filename>
		</trigger>
		<trigger>
			<location>
				<latitude>30.1001</latitude>
				<longitude>120.1002</longitude>
			</location>
			<filename>beep.mp3</filename>
		</trigger>
		<trigger>
			<location>
				<latitude>30.1002</latitude>
				<longitude>120.1004</longitude>
			</location>
			<filename>beep.mp3</filename>
		</trigger>
	</triggers>
</config>